* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #eee8e8;
    color: #fefdfd;
    background-image: url('../img/FONDO.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background-color: #000000;
    border-bottom: 1px solid #fefefe;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 90px;
}

.logo span {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* MENU */
.menu ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

.menu a {
    text-decoration: none;
    color: #f9f8f8;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}
.menu a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fcfafa;
    left: 0;
    bottom: -6px;
    transition: width 0.3s ease;
}
.menu a:hover::after {
    width: 100%;
}
.btn-primary {
background: #d4af37;
color: #000;
padding: 15px 28px;
text-decoration: none;
font-weight: bold;
border-radius: 15rem;
margin: 10px 14px;
display: inline-block;

}
.btn-secondary {
color: #d4af37;
text-decoration: none;
font-weight: bold;
}
.trust {
display: flex;
justify-content: space-around;
padding: 40px 10%;
background: #0b0b0b;
color: #d4af37;
}
h2 {
text-align: center;
margin-bottom: 40px;
}
.services-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 30px;
}
.service-card {
background: #111;
padding: 30px;
border: 1px solid #d4af37;
}
.benefits ul {
background: #111;
padding: 30px;
border: 1px solid #d4af37;
}
.benefits li {
margin-bottom: 15px;
}
.testimonials blockquote {
background: #111;
padding: 30px;
border: 1px solid #d4af37;
}
.cta {
text-align: center;
background: linear-gradient(135deg, #000, #1a1a1a);
}
.contacto {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 30px;
}
.contact-card {
background: #111;
padding: 30px;
border: 1px solid #d4af37;
}
footer {
text-align: center;
padding: 20px;
background-color: #000;
color: #d4af37;
margin-top: 40px;
} 