* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
  body {
  font-family: $font-main;
  background-color: $navy;
  color: $text;

  background-image: linear-gradient(
      rgba(11, 18, 32, 0.82),
      rgba(11, 18, 32, 0.92)
    ),
    url(#{$bg-img});

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


body {
  font-family: $font-main;
  background-color: $body-bg;
  color: $text;

  background-image: url(#{$bg-img});
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}