* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: $font-main;
  background-color: $body-bg;
  color: $text;

  background-image: url(#{$bg-img});
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}