$gold: #d4af37;
$black: #000000;
$dark: #111111;
$text: #fefdfd;

$bg-img: "../img/FONDO.png";

$font-main: "Segoe UI", Arial, sans-serif;

/* Bootstrap overrides */
$primary: $gold;
$body-bg: #eee8e8;
$body-color: $text;

$border-radius: 1rem;
$btn-border-radius: 999px;
$btn-font-weight: 700;